@using Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<BookShopApplication.Web.ViewModels.Book.BookViewModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "All Books";
}

<div class="container mt-4">
    <h2 class="mb-4 text-center">Available Books</h2>

    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-5 g-3">
        @foreach (var book in Model)
        {
            @await Html.PartialAsync("_BookCardPartial", book)
        }
    </div>
</div>
